<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working....">
    <nz-table #basicTable [nzData]="cars" [nzPageSize]="20" [nzShowPagination]="'false'">
        <thead>
            <tr>
            <th style="font-weight: bolder; color: #003973;">Username</th>
            <th style="font-weight: bolder; color: #003973;">Email</th>
            <th style="font-weight: bolder; color: #003973;">From</th>
            <th style="font-weight: bolder; color: #003973;">To</th>
            <th style="font-weight: bolder; color: #003973;">Price</th>
            <th style="font-weight: bolder; color: #003973;">Days</th>
            <th style="font-weight: bolder; color: #003973;">Payment</th>
            <th style="font-weight: bolder; color: #003973;">Status</th>
            <th style="font-weight: bolder; color: #003973;">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of basicTable.data">
                <td>{{car.name}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td>
                <td>{{car.price}}</td>
                <td>{{car.description}}</td>
                <td>{{car.type}}</td>
                <td>{{car.transmission}}</td>
                <td>
                    <strong [ngStyle]="{'color': (car.carStatus === 'Use' ? 'green' : car.carStatus === 'Booked' ? 'blue' : '')}">
                        {{car.carStatus}}
                    </strong>
                    
                </td>
                <td>
                    <span >
                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        (click)="changeCarStatus(car.id,'Use')" >Use</button>
  

                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        (click)="changeCarStatus(car.id,'Booked')" nzDanger>Booked</button>

                        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        (click)="changeCarStatus(car.id,'Fixing')" nzDanger>Fixing</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>